# Backend Environment Configuration
PORT=3000
NODE_ENV=development

# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/moa_ams?schema=public"

# Session & Authentication Secret Key
JWT_SECRET="moa_ams_secure_jwt_secret_2026"
